<h2>Resgistro</h2>

<form action="/users/registro" method="post">
    <fieldset>
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name">
    </fieldset>
    <fieldset>
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name">
    </fieldset>
    <fieldset>
    <label for="age">Age</label>
    <input type="text" id="age" name="age">
    </fieldset>
    <fieldset>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    </fieldset>
    <fieldset>
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
    </fieldset>
</form>