<h2>Socket</h2>
<form id="form">
    <label for="name">Product: </label><input type="text" name="name" id="name">
    <label for="price">Precio: </label><input type="number" name="price" id="price">
    <input type="submit" value="send">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>