<h2>Product Manager</h2>
<div class="products">

    <form id="products__form">
        <fieldset>
            <label for="product__name">Product Name:</label>
            <input id="product__name" type="text" placeholder="Yerba Taragüí" required>
        </fieldset>
        
        <fieldset>
            <label for="product__price">Price:</label>
            <input id="product__price" type="number" placeholder="659" required>
        </fieldset>
        
        <fieldset>
            <label for="product__stock">Stock:</label>
            <input id="product__stock" type="number" placeholder="60" required>
        </fieldset>
        

        <input type="submit" value="ADD PRODUCT">
    </form>

<h2>Lista de Productos</h2>
<div id="products__list"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="products.js"></script>